body {
    background-color: white;
    text-align:center;
    font-family: sans-serif;
    overflow-x:hidden;

}
h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}
h4{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
svg{
    fill:#33CCFF;
    padding-bottom: 1rem;
}
img{
    width: 100%;
}
.carousel-control-prev-icon {
    height: 50px;
    width: 50px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%2333CCFF' class='bi bi-chevron-left' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
    height: 50px;
    width: 50px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%2333CCFF' class='bi bi-chevron-right' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
}
.carousel .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
 }
 .carousel .carousel-indicators .active {
    width: 10px;
    height: 10px;
   border-radius: 100%;
   background-color:#33CCFF;
 }